@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Nunito:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: #000;
  color: white;
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 10px 15%;
}

.card {
  font-weight: 700;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #121212;
  text-transform: uppercase;
  padding: 25px;
  width: 150px;
  cursor: pointer;
  box-shadow: 0 0 4px 2px #fff9;
  transition: scale 300ms;
}

.card:hover {
  scale: 1.12;
}

.card>img {
  height: 150px;
  width: min(auto, 100%);
}

.overlay,
.overlay-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 10px;

  font-size: 24px;
  font-weight: 700;
}

.overlay>button {
  color: white;
  background-color: #121212;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px 50px;
  cursor: pointer;
  transition: scale 250ms;
}

.overlay>button:hover {
  scale: 1.1;
}

.overlay-img {
  object-fit: cover;
  max-width: 100vw;
  filter: blur(3px);
}